<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	   					   http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean name="customerRepositoryHibernate" class="com.techsamar.test.framework.dbaccess.Hibernate"/>
    <!--<bean name="customerRepositorySql" class="com.techsamar.test.framework.dbaccess.Sql"/>-->
    <bean name="customerService" class="com.techsamar.test.framework.service.CustomerServiceImp" autowire="byType">
        <!--<property name="customerRepository" ref="customerRepositoryHibernate" />-->
        <!--<constructor-arg index="0" ref="customerRepositorySql"/>-->
    </bean>

</beans>
