<!--<?xml version="1.0" encoding="UTF-8"?>-->
<!--<beans xmlns="http://www.springframework.org/schema/beans"-->
       <!--xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"-->
       <!--xmlns:context="http://www.springframework.org/schema/context" xsi:schemaLocation="-->
        <!--http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd-->
        <!--http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"> &lt;!&ndash; bean definitions here &ndash;&gt;-->
    <!--<context:annotation-config/>-->
    <!--<context:component-scan base-package="com.techsamar.test.framework"/>-->

<!--</beans>-->


<!--<?xml version="1.0" encoding="UTF-8"?>-->
<!--<beans xmlns="http://www.springframework.org/schema/beans"-->
       <!--xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"-->
       <!--xsi:schemaLocation="http://www.springframework.org/schema/beans-->
	   					   <!--http://www.springframework.org/schema/beans/spring-beans.xsd">-->

    <!--&lt;!&ndash; xml config for spring&ndash;&gt;-->
    <!--&lt;!&ndash;<bean name="customerRepositoryHibernate" class="com.techsamar.test.framework.dbaccess.Hibernate"/>&ndash;&gt;-->
    <!--&lt;!&ndash;&lt;!&ndash;<bean name="customerRepositorySql" class="com.techsamar.test.framework.dbaccess.Sql"/>&ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;<bean name="customerService" class="com.techsamar.test.framework.service.CustomerServiceImp" autowire="constructor">&ndash;&gt;-->
        <!--&lt;!&ndash;&lt;!&ndash;<property name="customerRepository" ref="customerRepositoryHibernate" />&ndash;&gt;&ndash;&gt;-->
        <!--&lt;!&ndash;&lt;!&ndash;<constructor-arg index="0" ref="customerRepositorySql"/>&ndash;&gt;&ndash;&gt;-->
    <!--&lt;!&ndash;</bean>&ndash;&gt;-->

<!--</beans>-->
